<ion-view title="LOGIN" class="login" hide-nav-bar="true">
    <ion-content scroll="false" padding="true" class="login-form" has-header="false">
        <message type="message.type" content="message.content"></message>
        <div class="list list-inset">
            <div class="logo">MOBILE ORDER</div>
        </div>
        <div class="list list-inset">
            <div class="input-title">Username</div>
            <label class="item item-input">
                <input type="text" ng-model="user.username" placeholder="Username">
            </label>
        </div>
        <div class="list list-inset">
            <div class="input-title">Password</div>
            <label class="item item-input">
                <input type="password" id="password" ng-model="user.password" placeholder="Password">
            </label>
        </div>
        <div class="list list-inset">
            <button class="button button-block button-calm" ng-click="login()">
                LOGIN
            </button>
           
        </div>
        <div class="hidden-setting" on-hold="changeSetting()"></div>
    </ion-content>
</ion-view>
