<ul class="list">
    <li ng-click="addMemo(menu,m)" ng-repeat="m in memos" class="item">
        {{m}}
    </li>
    <li class="item item-input-inset">
        <label class="item-input-wrapper">
            <input ng-model="new_memo" type="text" placeholder="Add other memo">
        </label>
        <button ng-click="addMemo(menu,new_memo)" class="button">
            ADD
        </button>
    </li>
</ul