/* Empty. Add your own CSS if you like */
* {
    /*color: #333;*/
    font-weight: 300;
}
html ,body{
    font-size: 12px;

}
.login .panel {
    text-shadow: none;
}
.pane {
    text-shadow: 1px 1px rgba(255,255,255,0.5);
}
.no-padding {
    padding:0;
}
.login-form {
    max-width: 320px;
    margin: 0 auto;
    top:20%;
}
.table-status {
    padding:5px;

}
.table {
    font-weight: normal;
}

/*.table.id-0 .table-name,.table.id-0 .setting-button {
border: 1px solid #ddd;

}
.table.id-1 .table-name,.table.id-1 .setting-button {
background: #FFEFAE;
color: #B49100;
border: 1px solid #B49100;

}
.table.id-2 .table-name,.table.id-2 .setting-button {
border: 1px solid #00A4FC;
background: #B6E6FF;
color: #00A4FC;
}
.table.id-3 .table-name,.table.id-3 .setting-button {
background:#FFC3CF;
color:#DB3535;
border: 1px solid #DB3535;
}*/


.table.id-0 {
    border: 1px solid #ddd;

}
.table.haveorderd,
.table.id-1 {
    background: rgba(243,228,143,0.8);
    color: #423A17;
    border: 1px solid rgba(243,228,143,0.9);

}
.table.draftpayment,
.table.id-2 {
    border: 1px solid rgba(166,216,249,0.9);
    background: rgba(166,216,249,0.8);
    color: #1A455C;
}
.table.using,
.table.id-3 {
    background:rgba(250,180,197,0.8);
    color:#612222;
    border: 1px solid rgba(250,180,197,0.9);
}

.table.empty,
.table.id-0:active {
    background: #ccc;   
}
.table.haveorderd:active, 
.table.id-1:active {
    background: #DDCD8C;
}

.table.draftpayment:active,
.table.id-2:active {
    background: #94C4DD;
}

.table.using:active,
.table.id-3:active {
    background:#DDA1AD;
}
.table,.menu-item {
    display: block;
    width: 100%;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center; 
    height:auto;   
}

.table:active  {
    border-style: dashed;
}
.table-name {
    padding: 10px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background: rgba(255,255,255,0.3);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.order-categories {
    height: 100%;
    /*position: absolute;
    height:60%;
    left: 0;
    right: 0;
    top:0;
    padding:0;*/
    /* -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);*/
}
.order-result {
    /* background: rgba(255,255,255,0.8);*/
    height: 100%;
    position: relative;
    bottom: 0;
    top: 4px;
    border-top: 2px solid rgba(200,200,200,0.5);
    padding-top: 4px;
}
.categories {
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(200,200,200,0.5);
    position: relative;
}
.categories-content {
    height: 100%;
    padding:0;
}

.menu-item {
    padding: 7px;
    border: 1px solid #ccc;
    max-height: 50px;
    min-height: 50px;
}
.addElement {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
}
.flyOut {
    z-index: 99;
    background: #43cee6;
    border: 1px solid #1aacc3;
    color: white;
}
}
.col.activated .menu-item {
    background: #43cee6;
    border: 1px solid #1aacc3;
    color: white;
}
.menu-name {
    overflow: hidden;
    height: 40px;
}
.categories,.menus {
    height: 100%;
    padding: 0;
}
.menus {
    height: 50%;
}
.order-categories {
    /*margin:10px;*/
}

ul.leaders {
    max-width: 80%;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    margin:0 auto;
    margin-top: 10px;
}
ul.leaders li {
    height: 60px;
    line-height: 45px;
    font-size: 20px;
    height: 60px;
    line-height: 50px;
    font-size: 20px;
    text-shadow: 1px 1px #fff;
    -ms-text-shadow: 1px 1px #fff;
    -moz-text-shadow: 1px 1px #fff;
    -webkit-text-shadow: 1px 1px #fff;
    color: #333;
    font-weight: 300;
    font-style: italic;
}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
}
ul.leaders span:first-child {
    background:#FFF7D7;
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    position: relative;
    background:#FFF7D7;
    z-index: 1
}
.seperator:after {
    content: "" !important;
}
.order-action-button.activated {
    background: #D3C89D;
}
.order-action-button.remove {
    color:#990000;
}
.order-action-button.delete {
    color:currentcolor;
}
.order-action-button:before {
    font-size: 40px !important;
}
.order-action-button {
    border: none !important;
    padding: 0;
    
    background: #FFF7D7;
    padding:0 5px;
   /* box-shadow: inset 1px 1px 0px #FFFEF9;
    -ms-box-shadow: inset 1px 1px 0px #FFFEF9;
    -moz-box-shadow: inset 1px 1px 0px #FFFEF9;
    -webkit-box-shadow: inset 1px 1px 0px #FFFEF9;
    border: 1px solid #E2D6A6;*/
    min-height: 40px;
    min-width: 0;


}
.order-action-button:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    max-width: 40px;
    max-height: 38px;

}
.timer-wraper {
    background: rgb(250,250,250);
    text-align: center;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    color: #770000;
    position: absolute;
    top:0;
    width:100%;
}
@media screen and (max-width:600px){
    .timer-wraper{
        font-size: 22px;
    }
}
.floor-bar {
    top:43px;
    padding:0;
}
.calm-activated.active {
    background: #43cee6;
    border: 1px solid #1aacc3;
    color: white;
}
.calm-activated.active + .item {
    border-top:1px solid transparent;
}

.col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60.6666%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 60.6666%;
    -ms-flex: 0 0 60.6666%;
    flex: 0 0 60.6666%;
    max-width: 60.6666%;
}
.categories-scroll {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 50px;
}
.login {
    background:url(../img/login4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.blur-image:after{
    background: #fff;
}
.blur-image {
    background: url("../img/login4.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.login .list-inset label {
    background: rgba(255,255,255,0.3);
    border:1px solid rgba(255,255,255,0.5);

}
.login .list-inset input {
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.login #password {
}

.login .list-inset {
    background: inherit;
}
.login .button-calm {
    background: rgba(67,206,230,0.9);
    border: 1px solid rgba(26,172,195,0.9);

}
.login .input-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.hidden-setting {
    position: absolute;
    width:50px;
    height:50px;
    bottom: 0;
    right: 0;
    z-index: 999;
}
.logo {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 2px #000;
    font-size: 28px;
    font-weight: 800;
}
.bg-transparent-9{background: rgba(255,255,255,0.9);}
.bg-transparent-0{background: rgba(255,255,255,0);}
.bg-transparent-8{background: rgba(255,255,255,0.8);}
.bg-transparent-7{background: rgba(255,255,255,0.7);}
.bg-transparent-6{background: rgba(255,255,255,0.6);}
.bg-transparent-5{background: rgba(255,255,255,0.5);}
.bg-transparent-4{background: rgba(255,255,255,0.4);}
.bg-transparent-3{background: rgba(255,255,255,0.3);}
.bg-transparent-2{background: rgba(255,255,255,0.2);}
.bg-transparent-1{background: rgba(255,255,255,0.1);}
.bg-calm-transparent{background-color: rgba(67,206,230,0.9) !important;}
.button-bar .button.active {
    background: rgba(255,255,255,0.5);

}
.load {
    text-align: center;
    padding-top: 25%;
    color:#eee;
}
.icon-load-data {
    font-size: 200px;
}
#button-refresh:before{
    font-size: 30px;
}
.exist-order {
    color: rgb(17, 116, 172) !important;
    font-weight: bold;
    font-size: 14px;
}
.order-item {
    font-size: 14px;
}
.col-24 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    max-width: 24%;
}



.order-list li {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 4px;
    border-radius: 2px;
    background: rgba(255,255,255,0.8);
    /* border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.3);*/
}
.order-list li:first-child {
    /* border-top:none;*/
    margin-top:0;
}
.order-list li:last-child{
    /* border-bottom:none;*/
}

.menu-responsive {
    padding:2px !important;
    margin: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.setting-button {
    float:right;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    height: 40px;
    width: 40px;
}
.setting-button:after {
    top: 3px;
    left: 0;
    right: 0;
    bottom: 3px;
    border-left: 1px solid rgba(190,190,0,0.3) !important;
}
.setting-button:before {
    font-size: 25px !important;
    color: rgba(0,0,0,0.5);
}
.hidden {
    visibility: hidden;
}
.loading {
    padding: 5px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin: -50px 0 0 -50px !important;
    color: white;
    display: none;
}
.loading.visible {
    display: inherit;
}
.loading-icon {
    content: url(../img/loading.gif);
    font-size: 90px;
}
.loading .ion-loading-d {
    font-size: 90px;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear; 
}

.floors {
    height:100%;
}
.floors .button {
    line-height: 44px !important;
}

.tables {
    margin:0 !important;
}

.table-item {
    padding:4px;
}

.choose-table {
    padding:2px;
}

.menu-memo {
    width: 100%;
    resize: vertical;
    border-radius: 2px;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1);
}

.memo {
    padding: 5px 5px 5px 0px;
}

.memo-text {
    padding-left: 15px;
    color: #666;
    font-style: italic;
}

.menu-action {
    text-align:right;
}

.action-wrapper {
    border-left: 1px solid #000;
    float: right;
    padding-left: 5px;
}

.action-col {
    border-left: 1px solid rgba(255,255,255,0.3);
}

.info-block {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.button-wrapper-top .order-action-button:after{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.button-wrapper-bottom .order-action-button:after {
     border-top: 1px solid rgba(0,0,0,0.1);
}

.eclipse {
    overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.ellipsis {
    overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.table-total {
    font-weight: bold;
    font-size: 15px;
    padding: 2px;
    height:25px;

}

.table-total.amount {
    border-top: 1px solid rgba(255,255,255,0.4);
}
