<ion-view title="CHOOSE TABLE">
    <div class="blur-image"></div>
    <ion-nav-buttons side="right"> 
        <button ng-click="refresh()" id="button-refresh" class="button button-clear">
            REFRESH
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left"> 
        <button ng-if="editMode.changeTable || editMode.mergeTable" ng-click="exitEditMode()" class="button button-clear">
            CANCEL
        </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader floor-bar bg-transparent-5">
        <div class="button-bar floors">
            <a ng-repeat="floor in floors" class="button bg-transparent-7" ng-click="changeFloor(floor.noFloor)" ng-class="{'active':floor.noFloor == selectedFloor}">{{floor.nameFloor}}</a>
        </div>
    </div>
    <ion-content padding="false" class="has-header has-subheader choose-table">
        <message type="message.type" content="message.content"></message>
        <p align="middle" ng-if="tables==null">XIN VUI LONG CHON TANG</p>
        <div ng-repeat="row in tables" class="row no-padding tables">
            <div ng-repeat="section in row" class="col no-padding">
                <div class="row responsive-md no-padding">
                    <div ng-repeat="table in section"  class="col col-50 no-padding no-margin table-item">
                        <a ng-class="{hidden: (editMode.changeTable && table.Status != 0) || (editMode.mergeTable && table.Status != 1)}" ng-click="enterTable(table.NoTable,table.NameTable)" class="table id-{{table.Status}} bg-transparent-8">
                            <div class="table-name">{{table.NameTable}}<button ng-click="showSetting(selectedFloor,table); $event.stopPropagation();" ng-if="table.Status != 0 && table.Status != 2 && table.Status != 3"  class="button setting-button button-clear button-small icon ion-gear-a"></button></div>
                            <div class="table-status">{{getTableStatusName(table.Status)}}</div>
                            <div class="table-total amount" ng-if="table.Status!=0">
                                <div style="display:inline-block;float:left">Total:</div>
                                <div style="display:inline-block;float:right">{{table.Amount}}</div>
                            </div>
                            <div class="table-total" ng-if="table.Status==0">&nbsp;</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
