<ion-view title="LOADING">
    <div class="blur-image"></div>
    <ion-content padding="true" class="has-header">
        <div class="load">
            <i class="icon ion-looping icon-load-data"></i>
        </div>
    </ion-content>
</ion-view>
