<ion-view title="T:{{title}}">
    <ion-nav-buttons side="right"> 
        <button ng-click="submitOrder()" class="button button-clear">
            MAKE ORDER
        </button>
    </ion-nav-buttons>
    <div class="blur-image"></div>
    <ion-content scroll="false" overflow-scroll="false" padding="false" class="has-header">
        <message type="message.type" content="message.content"></message>
        <div class="order-categories">
            <div class="row categories-content">
                <div class="col col-25 categories">
                    <div class="timer-wraper bg-transparent-9">
                        <timer countdown="300" interval="1000" finish-callback="goBack()">{{mminutes }}:{{sseconds}}</timer>
                    </div>
                    <ion-scroll class="categories-scroll bg-transparent-8">
                        <ul class="list">
                            <li ng-repeat="c in categories" ng-class="{'active':selectedCategory==c.CdLarge}" class="item calm-activated bg-transparent-0" ng-click="loadMenus($index)">
                                {{c.NameLarge}}
                            </li>
                        </ul>
                    </ion-scroll>
                </div>
                <div class="col col-75 menus">
                    <ion-scroll style="height:100%;padding:2px;">

                        <div ng-repeat="row in menus" class="row no-padding no-margin">
                            <div ng-repeat="section in row" class="col no-padding">
                                <div class="row responsive-md no-padding">
                                    <div ng-repeat="m in section"  class="col col-50 menu-responsive">
                                        <div ng-click="addMenu(m.CdMenu,$event)"><div class="menu-item bg-transparent-8"><div class="menu-name">{{m.MenuName}}</div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div ng-repeat="row in menus" class="row responsive-sm">
<div class="col col-25" ng-repeat="m in row" ng-click="addMenu(m.CdMenu,$event)"><div class="menu-item bg-transparent-8"><div class="menu-name">{{m.MenuName}}</div></div></div>
</div>-->
                    </ion-scroll>
                    <div class="order-result">
                        <ion-scroll style="height:100%;">
                            <ul class="list order-list">
                                <li ng-repeat="o in oldMenus" >
                                    <div class="row exist-order order-item no-padding">
                                        <div class="col info-block no-padding">
                                            <div class="row no-padding">
                                                <div class="col ellipsis">
                                                    {{o.nm_menu}}
                                                </div>
                                                <div style="text-align:center"  class="col col-10 col-center no-padding ellipsis">
                                                    {{o.qty_order}}
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class="col col memo no-padding">
                                                    <label class="memo-text">{{o.memo}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="no-padding action-col">
                                            <div class="row no-padding menu-action">
                                                <div class="col no-padding button-wrapper-top">
                                                    <button class="button order-action-button remove button-clear icon ion-close" ng-click="removeMenu(o.cd_menu,o.uid)"></button>
                                                </div>
                                            </div>
                                            <div class="row no-padding menu-action">
                                                <div class="col no-padding button-wrapper-bottom">
                                                    <button ng-click="showMemos(o)" class="button button-clear order-action-button delete icon ion-compose"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row exist-order order-item no-padding">
<div class="col col-66 col-center memo no-padding">
<label class="memo-text">this is the memo</label>
</div>
</div>-->
                                </li>
                                <li ng-repeat="o in newMenus">
                                    <div  class="row no-padding order-item">
                                        <div class="col info-block no-padding">
                                            <div class="row">
                                                <div class="col no-padding ellipsis">
                                                    {{o.nm_menu}}
                                                </div>
                                                <div style="text-align:center"  class="col col-10 col-center no-padding ellipsis">
                                                    {{o.qty_order}}
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class="col col memo no-padding">
                                                    <label class="memo-text">{{o.memo}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="no-padding action-col">
                                            <div class="row no-padding menu-action">
                                                <div class="col no-padding button-wrapper-top">
                                                    <button class="button order-action-button remove button-clear icon ion-close" ng-click="removeMenu(o.cd_menu,o.uid,'new')"></button>
                                                </div>
                                            </div>
                                            <div class="row no-padding menu-action">
                                                <div class="col no-padding button-wrapper-bottom">
                                                    <button ng-click="showMemos(o)" class="button button-clear order-action-button delete icon ion-compose"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row exist-order order-item no-padding">
<div class="col col col-center memo no-padding">
<textarea msd-elastic class="menu-memo" ng-model="o.memo"></textarea>
</div>

</div>-->
                                </li>
                                <!--<li>
<div  class="row no-padding order-item"></div>
</li>-->
                            </ul>
                            <!--<ul class="leaders">

<li ng-repeat="o in orderResult">
<span>{{o.nm_menu}}</span>
<span>{{o.qty_order}} <button class="button order-action-button" ng-click="removeMenu(o.cd_menu)">-</button><button ng-click="deleteMenu(o.cd_menu)" class="button order-action-button">X</button></span>
</li>

</ul>-->
                        </ion-scroll>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="order-result">
<ion-scroll style="height:100%;">
<ul class=leaders>

<li ng-repeat="o in orderResult">
<span>{{o.nm_menu}}</span>
<span>{{o.qty_order}} <button class="button order-action-button" ng-click="removeMenu(o.cd_menu)">-</button><button ng-click="deleteMenu(o.cd_menu)" class="button order-action-button">X</button></span>
</li>

</ul>
</ion-scroll>

</div>-->
    </ion-content>
</ion-view>
