<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width,minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/jquery/jquery.js"></script>
        <script src="lib/plugins/sha1.js"></script>
        <script src="lib/plugins/angular-mocks.js"></script>
        <script src="lib/plugins/angular-timer.js"></script>
        <script src="lib/plugins/angular-elastic.js"></script>
        <script src="lib/plugins/http-auth-interceptor.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>
        <!--     <script src="js/config.js"></script>-->
        <!--<script src="js/appBackend.js"></script>-->

        <!-- Controllers -->
        <script src="js/controllers/appController.js"></script>
        <script src="js/controllers/loginController.js"></script>
        <script src="js/controllers/chooseTableController.js"></script>
        <script src="js/controllers/loadingController.js"></script>
        <script src="js/controllers/orderController.js"></script>
        <!-- Services -->
        <script src="js/services/authenticationService.js"></script>
        <script src="js/services/tableService.js"></script>
        <script src="js/services/dataService.js"></script>
        <script src="js/services/orderService.js"></script>
        <script src="js/services/settingService.js"></script>
        <script src="js/services/userService.js"></script>
        <!-- Directives -->
        <script src="js/directives/messageDirective.js"></script>

        <!-- Constants -->
        <script src="js/constants.js"></script>
    </head>
    <body ng-app="victory" animation="slide-left-right-ios7" class="platform-android platform-cordova platform-webview">
        <ion-nav-bar class="bar bar-calm bg-calm-transparent" delegate-handle="login-nav">
            <ion-nav-back-button class="button button-clear" ng-click="goBack()">
                BACK
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </body>
</html>
